<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480587364232-3jcbtrgt1vubuh65j592qi724mrslfts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480587364232-3jcbtrgt1vubuh65j592qi724mrslfts</string>
	<key>API_KEY</key>
	<string>AIzaSyBhnvL4bNv8AIOc6-PoSTwcJGxUABoHOvg</string>
	<key>GCM_SENDER_ID</key>
	<string>480587364232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artlas.app</string>
	<key>PROJECT_ID</key>
	<string>artlasapp2024</string>
	<key>STORAGE_BUCKET</key>
	<string>artlasapp2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480587364232:ios:230e57893de244f031ec3d</string>
</dict>
</plist>